/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html,
body {
  height: 100%;
}

section.main {
  padding: 1rem 0.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

hr.footer {
  max-width: 1200px;
  margin: 0 auto;
  border: 2px dashed #9c9c9c;
}
